

# Ignore all files by default, but scan all directories
*
!*/

# C/C++ source files
!*.c
!*.cc
!*.cpp
!*.cpp.template
!*.h
!*.h.template
!*.hpp
!*.inl
!*.inc
!*.m
!*.mm
!*.rc
!*.def
!*.manifest

# Java source files
!*.java
!*.java.template

# C# source files
!*.cs
!*.cs.template
!*.aspx
!*.resx

# Shader formats
!*.usf
!*.hlsl
!*.glsl

# Text files
!*.txt
!*.md

# Script files
!*.bat
!*.sh
!*.pl
!*.py
!*.js
!*.command

# Other configuration and markup files
!*.ini
!*.json
!*.tps
!*.xml
!*.xaml
!*.uproject
!*.uplugin
!*.html
!*.html.template
!*.css
!*.udn
!*.config
!*.version
!.git*

# Projects and makefiles
!*.cmake
!*.mk
!*.dsp
!*.dsw
!*.csproj
!*.vcproj
!*.vcxproj
!*.vcxproj.filters
!*.sln
!*.xcodeproj
!*.xcconfig
!*.vsprops
!*.snippet
!Makefile
!Makefile.*
!Settings.settings

# Specific names
!README
!AUTHORS
!LICENSE
!FAQ
!VERSION
!ChangeLog

# Ignore Unix backup files
*~

# Exceptions
/*.sln
/*.xcodeproj
/Makefile
/CMakeLists.txt
*.target.xml
*.exe.config

# Add exceptions for Mac Mono binaries needed to run GitDependencies.exe.
!/Engine/Binaries/ThirdParty/Mono/Mac/bin/*
!/Engine/Binaries/ThirdParty/Mono/Mac/etc/mono/config
!/Engine/Binaries/ThirdParty/Mono/Mac/etc/mono/4.5/machine.config
!/Engine/Binaries/ThirdParty/Mono/Mac/lib/libMonoPosixHelper.dylib
!/Engine/Binaries/ThirdParty/Mono/Mac/lib/mono/4.5/mscorlib.dll
!/Engine/Binaries/ThirdParty/Mono/Mac/lib/mono/gac/Mono.Posix/4.0.0.0__0738eb9f132ed756/Mono.Posix.dll
!/Engine/Binaries/ThirdParty/Mono/Mac/lib/mono/gac/Mono.Security/4.0.0.0__0738eb9f132ed756/Mono.Security.dll
!/Engine/Binaries/ThirdParty/Mono/Mac/lib/mono/gac/System/4.0.0.0__b77a5c561934e089/System.dll
!/Engine/Binaries/ThirdParty/Mono/Mac/lib/mono/gac/System.Configuration/4.0.0.0__b03f5f7f11d50a3a/System.Configuration.dll
!/Engine/Binaries/ThirdParty/Mono/Mac/lib/mono/gac/System.Core/4.0.0.0__b77a5c561934e089/System.Core.dll
!/Engine/Binaries/ThirdParty/Mono/Mac/lib/mono/gac/System.Xml/4.0.0.0__b77a5c561934e089/System.Xml.dll

# Ignore the automatically created mono symlink
/Engine/Binaries/ThirdParty/Mono/Mac/bin/mono

# ...and GitDependencies.exe
!/Engine/Binaries/DotNET/GitDependencies.exe
!/Engine/Binaries/DotNET/GitDependencies.exe.config

# Binaries are needed for running the project without building until we get CI!
!/Binaries/Win64/UnrealEditor-GeoTwined.dll
!/Plugins/*/Binaries/Win64/*

# Ignore DDC
/Engine/DerivedDataCache/**

# Ignore intermediate folders
.vs/**
Intermediate/
obj/

# Ignore any saved local files
Saved/
/Engine/Programs/UnrealBuildTool/**

# Explcitly ignore Mac DS_Store files, regardless of where they are
.DS_Store

# Ignore local tools/scripts.
node_modules/**

# Don't ignore local scripts.
!*.rb
!*.py
!*.pyc

# Don't ignore markdown files.
!*.md

# Project /Content exception (some folders are standard git-controlled, most are LFS-controlled).
!/Content/**

# Ignore Migration Limbo
/Content/__Migrate_Limbo

#Ignore Original Asset dir
/RawAssets/

# Ignore debug files.
**.pdb

# Ignore local VS file.
**.suo
.vscode/
